<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Sizeer - Mammarzenie</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Free HTML5 Website Template by FreeHTML5.co" />
	<meta name="keywords" content="free html5, free template, free bootstrap, free website template, html5, css3, mobile first, responsive" />
	<meta name="author" content="FreeHTML5.co" />

	<!-- Facebook and Twitter integration -->
	<meta property="og:title" content="" />
	<meta property="og:image" content="" />
	<meta property="og:url" content="" />
	<meta property="og:site_name" content="" />
	<meta property="og:description" content="" />
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
	<link rel="shortcut icon" href="favicon.ico">

	<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700,900' rel='stylesheet' type='text/css'>

	<link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,700" rel="stylesheet">

	<!-- Animate.css -->
	<link rel="stylesheet" href="css/animate.css">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="css/icomoon.css">
	<!-- Simple Line Icons -->
	<link rel="stylesheet" href="css/simple-line-icons.css">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="css/v4/bootstrap.min.css">
	<!-- Theme style  -->
	<link rel="stylesheet" href="css/style.min.css">

	<!-- Font -->
	<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
	<!-- OWL -->
	<link rel="stylesheet" href="./css/owl.carousel.css">
	<link rel="stylesheet" href="./css/owl.theme.default.css">
	<!-- Gallery -->
	<link rel="stylesheet" 2 href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" 3 integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
	 4 crossorigin="anonymous" 5>


	<!-- jQuery -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<!-- jQuery Easing -->
	<script src="js/jquery.easing.1.3.js"></script>



	<!-- Vue -->
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<!-- Modernizr JS -->
	<script src="js/modernizr-2.6.2.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.js"></script>

	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="js/respond.min.js"></script>
	<![endif]-->

</head>

<body>
	<a href="javascript:" id="return-to-top"><i class="icon-chevron-up"></i></a>
	<!-- Modal -->
	<div id="app2">
		<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="ModelNameLabel" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">

					<!-- Modal Header -->
					<div class="modal-header">
						<div>
							<h4 class="modal-title">{{currentUser.name}}</h4>
							<small>{{ currentUser.wish }} - {{currentUser.wishday}}</small>
						</div>

						<button type="button" class="close" data-dismiss="modal">&times;</button>
					</div>

					<!-- Modal body -->
					<div class="modal-body dreamer">
						<div>
							<img class="img-fluid dreamer-main-img" :src="currentUser.avatar" alt=""><br />
							<p class="dreamer-description">
								{{currentUser.description}}
							</p>
						</div>

						<div class="card-columns gallery">
							<div class="galleryItem card" v-for="image in currentUser.gallery">
								<img class="card-img-top" :src="image" alt="">
							</div>
						</div>
					</div>


					<!-- Modal footer  -->
					<div class="modal-footer">
						<button type="button" class="btn btn-danger" data-dismiss="modal">Zamknij</button>
					</div>

				</div>
			</div>
		</div>

	</div>
	<div id="fh5co-page">
		<header id="fh5co-header" role="banner">
			<div class="container">
				<div class="header-inner">
					<h1><a href="#"><img src="images/sizeer-logo.jpg" alt=""></a>
						<a href="#"><img src="images/fundacja-logo.jpg" alt=""></a>
					</h1>
					<nav role="navigation">
						<ul>
							<li><a href="#fh5co-featured-section" class="active">Dlaczego</a></li>
							<li><a href="#fh5co-services-section">Jak pomagamy</a></li>
							<li><a href="#fh5co-blog-section">Marzenia</a></li>
							<li><a href="#fh5co-client-section">Fundacja</a></li>
							<li><a href="#fh5co-1percent-section">1% podatku</a></li>
							<li><a href="#fh5co-account-section">Konto</a></li>
							<li><a href="#fh5co-contact-section">Kontakt</a></li>
						</ul>
					</nav>
				</div>
			</div>
		</header>
		<div id="fh5co-intro-section">
			<div class="container">
				
				<div class="row">
					<div class="col-md-8 offset-md-2 text-center">
						<h2 class="text-success ml12">Spełniamy marzenie wspieramy fundacje „Mam marzenie”</h2>
					</div>
				</div>
				<div class="row">
					<div class="col-md-8 offset-md-2 text-center fulfill-wish">
						<span>Mamy już </span>
						<span class="count">97</span>
						<span>spełnionych marzeń</span>
					</div>
				</div>
			</div>
		</div>
		<div id="fh5co-featured-section">
			<div class="container">
				<div class="row">
					<div class="col-12 p-0">
						<a href="#" class="featured-grid" style="background-image: url(images/kids.jpg);">

						</a>
					</div>
				</div>

			</div>
			<div class="describe">
				<div class="container">
					<div class="row">
						<div class="col-md-8 offset-md-2 text-center">
							<h2>
								<span>Dlaczego</span>
								<span>fundacja</span>
							</h2>
							<p>
								Uśmiech dzieci jest dla nas najważniejszy.
								Szczególnie wtedy, gdy na ich twarzach pojawia sie on bardzo rzadko.
								Dlatego postanowiliśmy rozpocząć współprace
								z Fundacją Mam Marzenie
							</p>
							<p>
								To nie jest jednorazowa akcja. To sposób działania.
								Wszystkie idee i myśli, wyznaczające nasz każdy ruch krążą wokół Marzycieli.
								Liczy sie każdy, nawet najmniejszy gest, który pomaga im
								w pokonywaniu trudów choroby.
							</p>
							<img src="images/mammarzenie.jpg" alt="">
						</div>
					</div>

				</div>
			</div>
		</div>
		<div id="fh5co-services-section">
			<div class="describe">
				<div class="container">
					<div class="row">
						<div class="col-md-8 offset-md-2 text-center">
							<h2 class="text-white blue-baloon">
								<span>Jak</span>
								<span>pomagamy</span>
							</h2>
							<p class="text-white">
								Całkowity dochód ze sprzedaży toreb papierowych,
								które każdy klient może nabyć przy kasie
								przeznaczamy na wspieranie Fundacji Mam Marzenie.
							</p>
							<p class="text-white">
								Dołącz do nas
								i razem pomagajmy nieuleczalnie chorym dzieciom.
							</p>
							<p class="text-white">
								Wystarczy złotówka - tylko tyle kosztuje papierowa torba,
								w którą możesz zapakować swoje zakupy.
								To tylko złotówka, ale jej prawdziwa wartość jest znacznie wieksza!
							</p>
						</div>
					</div>

				</div>
			</div>
		</div>
		<div id="fh5co-blog-section" class="fh5co-grey-bg-section">
			<div class="describe">
				<div class="container">
					<div class="row">
						<div class="col-md-8 offset-md-2 text-center">
							<h2 class="yellow-baloon">
								<span>Marzenia</span>
							</h2>
							<p>
								Czy wiecie, że zrealizowane marzenie
								może być punkltem zwrotnym w leczeniu?
								Poderwać na nogi, pomóc w walce o życie?
								Ty też możesz pomóc małym marzycielom.
							</p>
						</div>
					</div>

				</div>
			</div>
			<div class="container">

				<div id="app">
					<div>

						<div id="dreamers-owl" class="owl-carousel owl-theme">
							<div class="dreamers-dream text-center" v-for="user in users">


								<div class="blog-inner">
									<div class="blog-img">
										<img class="img-responsive dreamer-img" :src="user.avatar" alt="Blog">
									</div>
									<div class="desc">
										<h3>
											<span style="margin-top:1em;"><a href="#">{{ user.name }}</a></span>
											<span class="dreamer-wish"><small>{{ user.wish.slice(0,88) }}</small></span>
										</h3>
										<p class="read-more-btn"><a @click="passUser(user)" class="btn btn-primary btn-outline with-arrow"
											 data-toggle="modal" data-target="#myModal" aria-hidden="true">Czytaj wiecej<i class="icon-arrow-right"></i></a></p>
									</div>
								</div>

							</div>

						</div>




					</div>
				</div>

			</div>
		</div>

		<div id="fh5co-client-section">
			<div class="describe">
				<div class="container">
					<div class="row">
						<div class="col-md-8 offset-md-2 text-center">
							<h2 class="red-baloon">
								<span>Fundacja</span>
							</h2>
							<p>
								Fundacja rozpoczela działalność w lutym 2004 r. w Krakowie, Warszawie i w Poznaniu.
								Od 2007 roku działa już na terenie całej Polski i obecnie posiada 16 odziałów:
								Białystok, Bydgoszcz, Gorzów Wielkopolski, Katowice, Kielce, Kraków, Lublin, Łódź,
								Olsztyn, Opole, Poznań, Rzeszów, Szczecin, Trójmiasto, Warszawa, Wrocław.
							</p>

							<p>
								Podczas zakładania Fundacji Mam Marzenie nasi przyjaciele z USA orzekli, że jeżeli uda
								nam sie spełnić 8 dzieciecych marzeń w trakcie roku, to było warto przenieść idee spełnienia marzeń do Polski.
								Po roku mogliśmy sie pochwalić spełnieniem 40 marzeń i utworzeniem 6 odziałów fundacji.
								A od początku naszej działalności aż do działalnościspełniliśmy w sumie ponad 4 000 marzeń chorych dzieci.
							</p>
							<p>
								Pierwszą polską marzycielką była Bogusia - dziewczynka chora na łamliwość kości.
								Jej marzenie spełniło sie w Orlando na Florydzie, gdzie zobaczyła bajkowy świat
								Walta Disneya. Po powrocie z USA napisała wiersz, który zakończyła w ten sposób...
							</p>

						</div>
					</div>
					<div class="row">
						<div class="col-8 col-md-4 offset-2 offset-md-4 text-center">
							<p class="quote">
								Wiec, pozwólcie dzieciom marzyć,
								bo cóż złego jest w marzeniach?
								Wszystko może sie przydarzyć.
								A gdy marzysz, świat sie zmienia.
							</p>

							<p><a href="#">www.mammarzenie.org</a></p>
						</div>
					</div>

				</div>
			</div>
		</div>
		<div id="fh5co-1percent-section">
			<div class="describe">
				<div class="container" style="margin-top: 26em;">
					<div class="row">
						<div class="col-md-8 offset-md-2 text-center">
							<h2 class="text-white blue-baloon">
								<span>Jak</span>
								<span>pomagamy</span>
							</h2>
							<p class="text-white">
								Całkowity dochód ze sprzedaży toreb papierowych,
								które każdy klient może nabyć przy kasie
								przeznaczamy na wspieranie Fundacji Mam Marzenie.
							</p>
							<p class="text-white">
								Dołącz do nas
								i razem pomagajmy nieuleczalnie chorym dzieciom.
							</p>
							<p class="text-white">
								Wystarczy złotówka - tylko tyle kosztuje papierowa torba,
								w którą możesz zapakować swoje zakupy.
								To tylko złotówka, ale jej prawdziwa wartość jest znacznie wieksza!
							</p>
						</div>
					</div>

				</div>
			</div>
		</div>
		<div id="fh5co-account-section">
			<div class="describe">
				<div class="container">
					<div class="row">
						<div class="col-md-8 offset-md-2 text-center">
							<h2 class="red-baloon">
								<span>Konto</span>
							</h2>
							<p>
								Na każdej torbie papierowej umieściliśmy numer konta, na który możesz
								wpłacić dowolną kwot. Te pieniądze posłużą na realizacje marzeń
								podopiecznych Fundacji.
							</p>
							<p>
								Ważne - każda złotówka, którą wpłacisz na konto, zostanie wydana na
								chorujące dzieci. Wszyscy pracownicy Fundacji są wolontariuszami
								i pracują w niej wyłącznie z potrzeby serca!
							</p>
							<p>
								Wpłać już dziś nawet najmniejszą sume:
							</p>
							<p>
								<b>
									Fundacja Mam Marzenie</br>
									ul. Św. Krzyża 7</br>
									31-028 Kraków
									<br />
									<br />
									11 1050 1025 1000 0090 8000 2760
								</b>
							</p>
						</div>
					</div>

				</div>
			</div>
		</div>
		<div id="fh5co-contact-section">
			<div class="describe">
				<div class="container">
					<div class="row">
						<div class="col-md-8 offset-md-2 text-center">
							<h2 class="text-white yellow-baloon">
								<span>Kontakt</span>
							</h2>
							<div class="row">
								<div class="col-12">
									<div id="app3">

										<div v-if="errors.length" class="alert alert-danger" role="alert">
											<span v-for="error in errors">{{ error }}</span>
											
										</div>

<div v-if="success" class="alert alert-success" role="alert">
	<span>Wysłano wiadomość!</span>

</div>
										<form id="contact-form" class="text-left" @submit.prevent="checkForm" method="POST">
											<div class="form-group">
												<label for="form__input--name">Podpis</label>
												<input type="name" class="form-control" id="form__input--name" v-model="user.name">
											</div>

											<div class="form-group">
												<label for="form__input--mail">Adres e-mail</label>
<input type="email" class="form-control" id="form__input--mail" v-model="user.email">
											</div>

											<div class="form-group">
												<label for="exampleFormControlTextarea1">Wiadomość</label>
<textarea class="form-control" id="exampleFormControlTextarea1" rows="5" v-model="user.msg"></textarea>
											</div>
											<button type="submit" class="btn btn-success px-5 mb-4">Wyślij</button>
										</form>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-12 col-md-6">
									<p class="text-white text-left">
										Fundacja Mam Marzenie<br />
										ul. Św. Krzyża 7<br />
										31-028<br />
										<br />
										tel: 12 426 31 11<br />
										<br />
										e-mail: fundacja@mammarzenie.org
									</p>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
		<footer id="fh5co-footer" role="contentinfo">

			<div class="container">
				<div class="col-md-12">
					<ul class="nav-bottom">
						<li><a href="#fh5co-featured-section">Dlaczego</a></li>
						<li><a href="#fh5co-services-section">Jak pomagamy</a></li>
						<li><a href="#fh5co-blog-section">Marzenia</a></li>
						<li><a href="#fh5co-client-section">Fundacja</a></li>
						<li><a href="#fh5co-1percent-section">1% podatku</a></li>
						<li><a href="#fh5co-account-section">Konto</a></li>
						<li><a href="#fh5co-contact-section">Kontakt</a></li>
					</ul>
				</div>
				<div class="col-md-12 fh5co-copyright text-center">
					<p>&copy; 2019 All Rights Reserved.</p>
				</div>

			</div>
		</footer>
	</div>



	<!-- Bootstrap -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
	<!-- Waypoints -->
	<script src="js/jquery.waypoints.min.js"></script>
	<!-- MAIN JS -->
	<script src="js/main.js"></script>
	<script src="./js/gallery.js"></script>


	<script src="./js/owl.carousel.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
	<script src="js/app.js"></script>
	<script>
		// ===== Scroll to Top ==== 
		$(window).scroll(function () {
			if ($(this).scrollTop() >= 50) { // If page is scrolled more than 50px
				$('#return-to-top').fadeIn(200); // Fade in the arrow

			} else {
				$('#return-to-top').fadeOut(200); // Else fade out the arrow
			}

			//Header Sticky
			if ($(this).scrollTop() >= 135) {
				//$('#fh5co-header').addClass('fixed-top');
			} else {
				//$('#fh5co-header').removeClass('fixed-top');
			}
		});
		$('#return-to-top').click(function () { // When arrow is clicked
			$('body,html').animate({
				scrollTop: 0 // Scroll to top of body
			}, 500);
		});

		const animateCounter =function(){
			$('.count').each(function () {
			$(this).prop('Counter', 0).animate({
				Counter: $(this).text()
			}, {
					duration: 5000,
					easing: 'swing',
					step: function (now) {
						$(this).text(Math.ceil(now));
					}
				});
		});
		};
animateCounter();
	
	</script>




</body>

</html>